{% extends "forums/profile/profile_feed_template.html" %}

{% block profileContent %}

{% for post in posts %}

  <div class="card border mb-3">
    <div class="card-body py-3 px-4">
      <span class="form-text fw-light">
        <img class="rounded-circle border" width="20" height="20" src="{{post.owner.profiles.profile_pic.url}}">
        <b>
          <a href="{{post.owner.profiles.get_absolute_url}}">
            {{post.owner}}
          </a>
        </b> - Posted on: {{ post.created }}
        in
        <a href="{{post.forum.get_absolute_url}}">
          <span>
            {{post.forum.name}}
          </span>
        </a>
      </span>
      <a href="{{post.get_absolute_url}}" class="text-dark text-decoration-none">
      <h5 class="card-title fs-5">{{ post.name }}</h5>
    </a>
      {% autoescape off %}
      <p class="card-text fs-6">{{ post.body|slice:999 }}...</p>
      {% endautoescape %}

      <div class="px-5 bg-light rounded">
        {% if post.media_content%}
        <div class="text-center rounded">
          {% if post.media_content_type == 0 %}
          <a href="{{post.media_content.url}}">
            <img src="{{post.media_content.url}}" class="img-fluid" alt="">
          </a>
        {% elif post.media_content_type == 1 %}
          <video class="img-fluid rounded" controls>
             <source src="{{post.media_content.url}}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
        {% endif %}
        {% endif %}
      </div>

      <div class="ps-3 d-flex d-grid gap-4 pt-3">
        <div class="py-1 text-primary">
          {{post.votes.count}}
        </div>
      {% if post.vote_type == True %}
        <form action="{% url 'forums_post_vote_delete' slug=post.slug %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="vote_type" value="0">
          <input type="hidden" name="post" value="{{ post.id }}">
          <button type="submit" class="bg-transparent border-0">
            <i style="font-size: 1.3rem;" class="text-primary bi-2x bi-arrow-up-circle-fill"></i>
          </button>
        </form>

        <form action="{% url 'forums_post_vote_update' slug=post.slug %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="vote_type" value="0">
          <input type="hidden" name="post" value="{{ post.id }}">
          <button type="submit" class="bg-transparent border-0">
            <i style="font-size: 1.3rem;" class="text-primary bi-2x bi-arrow-down-circle"></i>
          </button>
        </form>

      {% elif post.vote_type == False %}
        <form action="{% url 'forums_post_vote_update' slug=post.slug %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="vote_type" value="1">
          <input type="hidden" name="post" value="{{ post.id }}">
          <button type="submit" class="bg-transparent border-0">
            <i style="font-size: 1.3rem;" class="text-primary bi-2x bi-arrow-up-circle"></i>
          </button>
        </form>

        <form action="{% url 'forums_post_vote_delete' slug=post.slug %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="vote_type" value="0">
          <input type="hidden" name="post" value="{{ post.id }}">
          <button type="submit" class="bg-transparent border-0">
            <i style="font-size: 1.3rem;" class="text-primary bi-2x bi-arrow-down-circle-fill"></i>
          </button>
        </form>

      {%else%}

        <form action="{% url 'forums_post_vote_create' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="vote_type" value="1">
          <input type="hidden" name="object_id" value="{{ post.id }}">
          <button type="submit" class="bg-transparent border-0">
            <i style="font-size: 1.3rem;" class="text-primary bi-2x bi-arrow-up-circle"></i>
          </button>
        </form>

        <form action="{% url 'forums_post_vote_create' %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="vote_type" value="0">
          <input type="hidden" name="object_id" value="{{ post.id }}">
          <button type="submit" class="bg-transparent border-0">
            <i style="font-size: 1.3rem;" class="text-primary bi-2x bi-arrow-down-circle"></i>
          </button>
        </form>
      {% endif %}
      <a href="#" class="">
        <i style="font-size: 1.3rem;" class="text-primary bi-2x bi-chat-left"></i>
      </a>
      <a href="#" class="">
        <i style="font-size: 1.3rem;" class="bi bi-three-dots"></i>
      </a>
    </div>
    </div>
    </div>
{% endfor %}

{% endblock %}
