.page-content{
    display: grid;
    grid-template-areas: 
    " fb fb fb ft "
    " fb fb fb ft "
    " fb fb fb ft "
    " fb fb fb ft "
    ;
    row-gap: 10px;
    column-gap: 10px;   
}

@media only screen and (max-width:800px){
    .page-content{
        display: grid;
        grid-template-areas: 
        " ft ft ft ft "
        " fb fb fb fb "
        " fb fb fb fb "
        " fb fb fb fb "
        ;
    }
}

.forum-title{
    grid-area: ft;
    position:relative;
    padding-top: 5px;
}

.title-box{
    background-color: #a3e5ff;
    position: relative;
    padding: 0px 0px 0px 8px;
}

@media only screen and (min-width:800px) {
    .title-box{
        border-radius: 15px;
        padding: 5px 5px 5px 8px;
        margin: 0 0 0 0;
    }
}

.forum-body{
    grid-area: fb;
    position: relative;
    padding: 10px 10px 10px 10px;
}

.forum-name{
    font-size: 25px;
    font-weight: 600;
}

.forum-desc{
    font-size: 15px;
}

.join{
    background-color: #0528dd;
    color: #fff;
    border-radius: 25px;
    font-size: 16px;
}

.join:active{
    background-color: #e01c1c98;
    border: 2px;
}

.sort-nav ul{
    margin: 0;
    padding: 0;
    display: flex; 
    list-style: none;
}

.sort-nav li{
    padding:5px;
    padding-left:8px;
}

.post-card{
    border-radius: 10px;
    background-color: #fff;
    padding: 10px 10px 10px 12px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.username-date{
    font-size: 13px;
    color: #666;
}

.post-title{
    font-size: 20px;
    font-weight: 600;
}

.post-desc{
    font-size: 16px;
    color: #555555;
}
