.page-content{
    display: grid;
    grid-template-columns: 13fr 7fr ;
    column-gap: 7px;
}

@media only screen and (max-width:900px){
    .page-content{
        display: grid;
        grid-template-columns:7fr 3fr ;
    }
}

@media only screen and (max-width:760px){
    .page-content{
        display: grid;
        grid-template-columns: 1fr;
    }
}

.lhs{
    position: relative;
    padding: 10px 10px 12px 10px;
}

.post-box{
    position: relative;
    background: #FFFFFF;
    box-shadow: -10px 5px 1px 1px rgba(92, 106, 121, 0.15);
    border-radius: 20px;
    padding: 5px 10px 15px 10px;
    display: grid;
    grid-template-columns: 30px auto;
}

.like-box{
    background-color: #aaa;
    margin: 5px 3px 5px 3px;
    border-radius: 10px;
}
:root{
    --like:black;
    --dislike:black;
}
.upvote{
    border-radius: 20px;
    background-color: (--like);
}

.downvote{
    border-radius: 20px;
    background-color: (--dislike);
}

.post-content{
    position: relative;
    top: 5px;
    left: 5px;
}

.username-date{
    font-size: 12px;
    color:#666;
}

.exit{
    position: absolute;
    top: 0px;
    right: 10px;
    text-decoration: none;
    color: #000;
}

.post-title{
    font-size: 30px;
}

.tag{
    font-size: 12px;
    padding: 2px 3px 2px 3px;
    border-radius: 10px;
    background-color: #4fece5;
    text-decoration: none;
    color: #000;
}

.rhs{
    position: relative;
    display: grid;
    grid-template-rows: 2fr 5fr;
    row-gap: 10px;
    padding: 10px 10px 12px 10px;
}

.forum-box{
    padding-bottom: 20px;
    background: #99eedc;
    border-radius: 15px;
    padding: 8px 10px 8px 10px;
}

.comment-box{
    padding: 10px 10px 10px 10px;
    position: relative;
    background: #FFFFFF;
    box-shadow: -10px 5px 1px 1px rgba(92, 106, 121, 0.15);
    border-radius: 20px;
}

.comment{
    position: relative;
}

.username{
    font-size: 12px;
    color:#666;
}

.comment-content{
    font-size: 12px;
}