{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'forums_post_list' %}">Post Listing</a></p>
<table class="table">
<tr><td>name</td><td>{{ object.name }}</td></tr>
<tr><td>slug</td><td>{{ object.slug }}</td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>media_content_type</td><td>{{ object.media_content_type }}</td></tr>
<tr><td>media_content</td><td>{{ object.media_content }}</td></tr>
<tr><td>likes</td><td>{{ object.likes }}</td></tr>
<tr><td>dislikes</td><td>{{ object.dislikes }}</td></tr>
<tr><td>comment_count</td><td>{{ object.comment_count }}</td></tr>
<tr><td>body</td><td>{{ object.body }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Post</a>

{% endblock %}
