{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'forums_profile_list' %}">Profile Listing</a></p>
<table class="table">
<tr><td>slug</td><td>{{ object.slug }}</td></tr>
<tr><td>created</td><td>{{ object.created }}</td></tr>
<tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
<tr><td>bio</td><td>{{ object.bio }}</td></tr>
<tr><td>prestige_points</td><td>{{ object.prestige_points }}</td></tr>
<tr><td>avatar_hexcode</td><td>{{ object.avatar_hexcode }}</td></tr>
<tr><td>profile_pic</td><td>{{ object.profile_pic }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Profile</a>

{% endblock %}