{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div style="width:100vw;">
    <div class="content-section mx-auto card p-5" style="width: 30rem; margin: 5vh 0px auto">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group py-3">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-2">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
  </div>
{% endblock content %}
